<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reemaaziry">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReemaAziry"
        tools:targetApi="31">
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen"
            />
        <activity android:name=".CustomGalleryActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Listactivity"
            android:exported="false" />
        <activity
            android:name=".Aboutactivity"
            android:exported="false" />
        <activity
            android:name=".helpactivity"
            android:exported="false" />
        <activity
            android:name=".exhomeactivity"
            android:exported="false" />
        <activity android:name=".Homeactivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>